body{
    background-color: lavender;
}

#form-reg{
    max-width: 300px;
    margin: 0 auto;
    border: 1px blue solid;
    padding: 20px;
}

.form-item{
    background-color: darkblue;
    border: white solid 1px;
    color: white;
    padding: 5px;
}

.form-btn{
    background-color: aqua;
    padding: 5px;
    border: 1px solid darkblue;
    margin-top: 5px;
}

.form-btn:hover{
    border: 3px solid darkblue;
    background-color: rgb(94, 185, 185);
}